<section class="space-y-4">
  <h3 class="section-title">Experiencia Laboral</h3>
  <ol class="border-default">
    <li class="mb-10 ml-1 sm:ml-6">
      <article class="grid-container">
        <div class="col-span-1">
          <img
            src="/assets/images/bbva-logo.webp"
            alt="BBVA"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <h3 class="basic-title">
            BBVA ( Stefanini )<span class="basic-tag-blue ml-2"
              >Trabajo Actual</span
            >
          </h3>
          <time class="basic-sub-title"
            >Jornada Completa ( 1 año y 3 meses )</time
          >
          <ol class="relative border-s border-default">
            <li class="mb-10 ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">Ingeniero de Datos</h3>
              <time class="basic-sub-title-list">Junio 2024 - Hoy</time>
              <p class="basic-text-list">
                • Experiencia en el desarrollo de Pipelines de Ingesta y
                Transformacion de datos con
                <span class="resalt-text">Spark, Hive y Scala</span><br />
                • Experiencia trabajando sobre entornos distribuidos On-Premise
                con <span class="resalt-text">Hadoop (HDFS)</span> como en Nube
                con <span class="resalt-text">AWS (S3) y Azure Data Lake</span
                ><br />
                • Desarrollo y analisis de consultas
                <span class="resalt-text">SQL/PL-SQL/T-SQL</span> en base de
                datos <span class="resalt-text">PostgreSQL, MySQL, Oracle</span
                ><br />
                • Supervisión y monitoreo de rutas críticas, identificación,
                clasificación y corrección de errores en procesos Batch
                <span class="resalt-text">(Control-M, Argos, Dataproc)</span>
                <br />
                • Trabajo en entornos ágiles
                <span class="resalt-text">(Scrum)</span>, con herramientas como
                <span class="resalt-text">JIRA, Bitbucket y Git</span><br />
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">Spark</span>
                <span class="basic-tag-indigo">Hive</span>
                <span class="basic-tag-indigo">Scala</span>
                <span class="basic-tag-indigo">Hadoop</span>
                <span class="basic-tag-indigo">AWS(S3)</span>
                <span class="basic-tag-indigo">Azure Data Lake</span>
                <span class="basic-tag-indigo">Control-M</span>
                <span class="basic-tag-indigo">Argos</span>
                <span class="basic-tag-indigo">Dataproc</span>
              </p>
            </li>
          </ol>
        </div>
      </article>
      <article class="grid-container">
        <div class="col-span-1">
          <img
            src="/assets/images/grupo-tsi-logo.webp"
            alt="Grupo TSI SAC"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <h3 class="basic-title">Grupo TSI SAC</h3>
          <time class="basic-sub-title">Jornada Completa ( 2 años ) </time>
          <ol class="relative border-s border-default">
            <li class="mb-10 ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">DBA | Desarrollador de Software</h3>
              <time class="basic-sub-title-list">Mayo 2023 - Junio 2024</time>
              <p class="basic-text-list">
                • Administración de Bases de Datos
                <span class="resalt-text">Oracle 19c, PostgreSQL y MySQL</span>
                para la lógica de negocio del ERP<br />
                • Gestión de datos no estructurados con
                <span class="resalt-text">MongoDB y Oracle Autonomous Json</span
                ><br />
                • Administración y monitoreo de recursos en Oracle Cloud.<br />
                • Migración de bases de datos: de Interbase a Oracle 19c y de
                Oracle 11g a Oracle 19c.<br />
                • Desarrollo y despliegue de Aplicaciones Web con
                <span class="resalt-text">Python (FastAPI)</span> para la
                automatización y monitorizacion de procesos Migracion/ETL en
                Oracle, MySQL, PostgreSQL e Interbase.<br />
                • Experiencia en la gestion de recursos en
                <span class="resalt-text">Linux (Ubuntu, Oracle Linux)</span>,
                uso de contenedores y orquestadores con Docker / Docker Compose
                y control de versiones con Git, GitLab y SourceTree.<br />
                • Desarrollo de dashboards y reportes interactivos con
                <span class="resalt-text">Oracle Analytics y Power BI</span
                >.<br />
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">Oracle 19c/11g</span>
                <span class="basic-tag-indigo">MySQL</span>
                <span class="basic-tag-indigo">PostgreSQL</span>
                <span class="basic-tag-indigo">MongoDB</span>
                <span class="basic-tag-indigo">Docker</span>
                <span class="basic-tag-indigo">Python</span>
                <span class="basic-tag-indigo">Oracle Cloud</span>
                <span class="basic-tag-indigo">Oracle Analytics</span>
              </p>
            </li>
          </ol>
        </div>
      </article>
    </li>
  </ol>
</section>
