<section class="space-y-4">
  <h3 class="section-title">Experiencia Laboral</h3>
  <ol class="border-default">
    <li class="mb-10 ml-1 sm:ml-6">
      <article class="grid-container">
        <div class="col-span-1">
          <img
            src="/assets/images/bbva-logo.webp"
            alt="BBVA"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <h3 class="basic-title">
            STEFANINI / BBVA<span class="basic-tag-blue ml-2">Trabajo Actual</span>
          </h3>
          <time class="basic-sub-title">Lima, Perú</time>
          <ol class="relative border-s border-default">
            <li class="mb-10 ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">Ingeniero de Datos</h3>
              <time class="basic-sub-title-list">06/2024 - 09/2025</time>
              <p class="basic-text-list">
                • Desarrollo de Pipelines de ingesta con <span class="resalt-text">PySpark, Scala e Impala</span> sobre <span class="resalt-text">Hadoop, Hive y Spark</span>.<br />
                • Administración de datos en <span class="resalt-text">HDFS y Amazon S3</span>, integrando entornos distribuidos de alto volumen.<br />
                • Optimización de querys <span class="resalt-text">SQL/PL-SQL</span> en motores <span class="resalt-text">Oracle y PostgreSQL</span>.<br />
                • Implementación de alertas automatizadas con <span class="resalt-text">Python (Web Scraping + Webhooks de Google Chat)</span> para monitorear rutas críticas y generar notificaciones en tiempo real.<br />
                • Experiencia en revisión de código, elaboración de documentación técnica, análisis y estimación de desarrollos de software, trabajando en entornos ágiles con herramientas como <span class="resalt-text">JIRA</span>.
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">PySpark</span>
                <span class="basic-tag-indigo">Scala</span>
                <span class="basic-tag-indigo">Impala</span>
                <span class="basic-tag-indigo">Hadoop</span>
                <span class="basic-tag-indigo">Hive</span>
                <span class="basic-tag-indigo">Spark</span>
                <span class="basic-tag-indigo">HDFS</span>
                <span class="basic-tag-indigo">Amazon S3</span>
                <span class="basic-tag-indigo">Python</span>
                <span class="basic-tag-indigo">JIRA</span>
              </p>
            </li>
          </ol>
        </div>
      </article>
      <article class="grid-container">
        <div class="col-span-1">
          <img
            src="/assets/images/grupo-tsi-logo.webp"
            alt="Grupo TSI SAC"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <h3 class="basic-title">Grupo TSI</h3>
          <time class="basic-sub-title">Lima, Perú</time>
          <ol class="relative border-s border-default">
            <li class="mb-10 ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">Administrador de Base de Datos</h3>
              <time class="basic-sub-title-list">03/2022 - 06/2024</time>
              <p class="basic-text-list">
                • Administración de <span class="resalt-text">Oracle 19c</span> para ERP, con migraciones exitosas de <span class="resalt-text">Interbase → Oracle</span> y <span class="resalt-text">Oracle 11g → 19c</span>.<br />
                • Diseño e Implementación de pipelines <span class="resalt-text">ETL en Python</span>, automatizado procesos de extracción, transformación y carga de información.<br />
                • Desarrollo de servicios <span class="resalt-text">REST con Python (FastAPI)</span> para la integración con plataformas de inteligencia de negocios.<br />
                • Integración con servicios <span class="resalt-text">SOAP de SUNAT con Java (Spring Boot)</span>, automatizando la validación de comprobantes electrónicos, el registro de compras, la carga del tipo de cambio y el registro de nuevos clientes por RUC/DNI.<br />
                • Experiencia en la migración e integración de motores de bases de datos legacy (<span class="resalt-text">Interbase, Informix</span>) hacia <span class="resalt-text">Oracle 19c</span>.<br />
                • Experiencia en pases a producción, compilación y despliegue de aplicaciones dockerizadas, tanto en entornos <span class="resalt-text">Docker como Kubernetes</span>.
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">Oracle 19c</span>
                <span class="basic-tag-indigo">Python</span>
                <span class="basic-tag-indigo">FastAPI</span>
                <span class="basic-tag-indigo">Java</span>
                <span class="basic-tag-indigo">Spring Boot</span>
                <span class="basic-tag-indigo">Docker</span>
                <span class="basic-tag-indigo">Kubernetes</span>
              </p>
            </li>
          </ol>
        </div>
      </article>
    </li>
  </ol>
</section>
