<section>
  <h3 class="section-title">Formación Academica</h3>
  <div class="grid grid-cols-2 gap-x-2 sm:gap-x-6 sm:mb-6 sm:mx-6">
    <div class="">
      <h4 class="basic-title">Bachiller en Ingenieria Industrial <span class="ml-2 basic-tag-blue">Quinto Puesto</span></h4>
      <time class="basic-sub-title">2017 - 2022</time>
      <p class="basic-text-sm">Egresado con honores de la Univ. Nacional Mayor de San Marcos, saliendo con skills y conocimeintos para la adminitaracion de base datos (Sql Server),  migracion e integracion de diversas herramientas</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">SQL</span>
        <span class="basic-tag-cyan">Java</span>
        <span class="basic-tag-cyan">PL/SQL</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Especializacion Full Stack ( Java - Angular ) <span class="ml-2 basic-tag-blue">Excelencia</span></h4>
      <time class="basic-sub-title">Marzo 2023 - Mayo 2023</time>
      <p class="basic-text-sm">Especializacion Full Stack ( Java - Angular ) para eld esarrollo d e aplicacion o soluciones de negocios complejas web integrales</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">Angular</span>
        <span class="basic-tag-cyan">Java</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Java Developer</h4>
      <time class="basic-sub-title">Febrero 2022 - Abril 2022</time>
      <p class="basic-text-sm">Especializacion en desarrollo de aplicaciones Java ( Escritorio y Web ) y el uso de JasperReport para la generacion de reportes</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">Java</span>
        <span class="basic-tag-cyan">JasperReport</span>
        <span class="basic-tag-cyan">Hibernate</span>
        <span class="basic-tag-cyan">JPA</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Diplomado en Business Intelligence, Analytics y Big Data <span class="ml-2 basic-tag-blue">Primer Puesto</span></h4>
      <time class="basic-sub-title">Junio 2022 - Diciembre 2022</time>
      <p class="basic-text-sm">Diplomado de Especializacion en Business Intelligence, Analytics y Big Data, entiendo la formama como se consulta, procesa, e inferiere valor grandes volumenss de informancion</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">SQL</span>
        <span class="basic-tag-cyan">Python</span>
        <span class="basic-tag-cyan">PowerBI</span>
        <span class="basic-tag-cyan">Java</span>
      </div>
    </div>
  </div>
</section>
