<section>
  <h3 class="section-title">Formación Academica</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 sm:mb-6">
    <div class="">
      <h4 class="basic-title">Bachiller en Ingenieria Industrial <span class="ml-2 basic-tag-blue">5to Puesto</span></h4>
      <time class="basic-sub-title">2017 - 2022</time>
      <p class="basic-text-sm">Egresado con honores de la UNMSM (Quinto Puesto), donde adquirí una sólida base en la administración de bases de datos con SQL Server y técnicas para la migración e integración de datos, sentando las bases de mi carrera como Ingeniero de Datos.</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">SQL</span>
        <span class="basic-tag-cyan">Java</span>
        <span class="basic-tag-cyan">PL/SQL</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Especializacion Full Stack ( Java - Angular ) <span class="ml-2 basic-tag-blue">Excelencia</span></h4>
      <time class="basic-sub-title">Marzo 2023 - Mayo 2023</time>
      <p class="basic-text-sm">Formación intensiva en el desarrollo de aplicaciones web complejas, dominando el stack Full Stack con Java para el backend y Angular para el frontend. Aprendí a construir soluciones de negocio integrales y robustas.</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">Angular</span>
        <span class="basic-tag-cyan">Java</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Java Developer</h4>
      <time class="basic-sub-title">Febrero 2022 - Abril 2022</time>
      <p class="basic-text-sm">Profundicé en el ecosistema de Java, desarrollando tanto aplicaciones de escritorio como soluciones web. Adquirí experiencia clave en la generación de reportes con JasperReport y en el uso de frameworks de persistencia como Hibernate y JPA.</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">Java</span>
        <span class="basic-tag-cyan">JasperReport</span>
        <span class="basic-tag-cyan">Hibernate</span>
        <span class="basic-tag-cyan">JPA</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Diplomado en Business Intelligence, Analytics y Big Data <span class="ml-2 basic-tag-blue text-nowrap">1er Puesto</span></h4>
      <time class="basic-sub-title">Junio 2022 - Diciembre 2022</time>
      <p class="basic-text-sm">Obtuve el Primer Puesto en este diplomado, donde me especialicé en el ciclo de vida completo de los datos. Aprendí a consultar, procesar y extraer valor de grandes volúmenes de información, utilizando herramientas como SQL, Python y Power BI para la inteligencia de negocios.</p>
      <div class="basic-container-tag">
        <span class="basic-tag-cyan">SQL</span>
        <span class="basic-tag-cyan">Python</span>
        <span class="basic-tag-cyan">PowerBI</span>
        <span class="basic-tag-cyan">Java</span>
      </div>
    </div>
  </div>
</section>
