<section>
  <h3 class="section-title">Formación Academica</h3>
  <div class="grid grid-cols-2 gap-x-2 sm:gap-x-6 sm:mb-6 sm:mx-6">
    <div class="">
      <h4 class="basic-title">Bachiller en Ingenieria Industrial</h4>
      <time class="basic-sub-title">2017 - 2022</time>
      <p class="basic-text-sm">Egresado con honores de la Univ. Nacional Mayor de San Marcos, ocupando el 5to puesto de la promocion de Ingenieria Industrial</p>
      <div class="basic-container-tag">
        <span class="basic-tag-blue">Quinto Puesto</span>
      </div>
      <div class="basic-container-tag">
        <span class="basic-tag-gray">SQL</span>
        <span class="basic-tag-gray">Java</span>
        <span class="basic-tag-gray">PL/SQL</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Especializacion Full Stack ( Java - Angular )</h4>
      <time class="basic-sub-title">Marzo 2023 - Mayo 2023</time>
      <p class="basic-text-sm">Especializacion Full Stack ( Java - Angular ) con un diploma de excelencia</p>
      <div class="basic-container-tag">
        <span class="basic-tag-blue">Diploma de Excelencia</span>
      </div>
      <div class="basic-container-tag">
        <span class="basic-tag-gray">Angular</span>
        <span class="basic-tag-gray">Java</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Java Developer</h4>
      <time class="basic-sub-title">Febrero 2022 - Abril 2022</time>
      <p class="basic-text-sm">Especializacion en desarrollo de aplicaciones Java ( Escritorio y Web ) y el uso de JasperReport para la generacion de reportes</p>
      <div class="basic-container-tag">
        <span class="basic-tag-blue">Destacado</span>
      </div>
      <div class="basic-container-tag">
        <span class="basic-tag-gray">Java</span>
        <span class="basic-tag-gray">JasperReport</span>
        <span class="basic-tag-gray">Hibernate</span>
        <span class="basic-tag-gray">JPA</span>
      </div>
    </div>
    <div class="">
      <h4 class="basic-title">Diplomado en Business Intelligence, Analytics y Big Data</h4>
      <time class="basic-sub-title">Junio 2022 - Diciembre 2022</time>
      <p class="basic-text-sm">Diplomado de Especializacion en Business Intelligence, Analytics y Big Data, con una nota de 20/20</p>
      <div class="basic-container-tag">
        <span class="basic-tag-blue">Nota Maxima</span>
      </div>
      <div class="basic-container-tag">
        <span class="basic-tag-gray">SQL</span>
        <span class="basic-tag-gray">Python</span>
        <span class="basic-tag-gray">PowerBI</span>
        <span class="basic-tag-gray">Java</span>
      </div>
    </div>
  </div>
</section>